# Local Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Sensitive files
provider.tf
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc
